/*general*/

body{
    font-family: 'Press Start 2P', cursive;
    font-size: 26px;
}

/*flex*/
.container {
    margin: 20% auto;
    width: 424px;
    display: flex;
    justify-content: center;
     /*border*/
    border: inset 20px #cacaca;
}

.flex1 div {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #cacaca;
    flex-direction: row;
    border-style: none dotted dotted none;

    border-width:3px;
    /*text*/
    text-align: center;
    align-items: center;
    justify-content: center;

}